<div class="mt-4">
    <div class="row">
            <div class="col-lg-3">
                <button>Hoc Ngay</button>
            </div>

            <div class="col-lg-9">
                <h2>{{course.name}} - Giáo dục công với cùng Huấn Hoa Hồng</h2>
                <iframe width="885" height="498" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>{{course.desc}}</p>
                <br>
                <p>Những câu nói hay nhất của huấn hoa hồng hót trend Đây là kênh chính thức của Huấn , Mn ấn đăng kí kênh để theo dõi những video của Huấn nhé ! Cám ơn</p>
            </div>
    </div>
</div>