<div class="mt-4">
    <form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Nhap tu khoa</label>
    <input type="text" class="form-control" id="search-input" name="key" placeholder="Nhap tu khoa...">
  </div>

  <button type="submit" class="btn btn-primary">Tim kiem</button>
</form>
</div>